/* selector{
    propiedad:valor
    propiedad:valor2
} */

h2{ /*selector de tipo: elemento o etiqueta*/
    color: blue;
}

.clasex{ /*selector de tipo: clase*/
    border:1px solid red;
}

.titulo{
    text-align: center;
    color:salmon
}

.titulo-border{
    border:1px solid black;
}

/*selecto de tipo: id*/
#idsec{
    border: 1px solid black;
}