body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width: 200px;/*ancho*/
    height: 100px; /*alto*/
}

.box1{
    background:steelblue;
    /* margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;  */
    /* margin:50px 10px 40px 12px;top rig bott lef */
    /*margin:100px 10px;*/
    /*margin:100px 0 10px;*/
    
    
    /*opacity: 0.5;*/

    /*margin:auto*/
    /* margin-left: auto;
    margin-right: auto;
    margin:0 auto; */

/* margin-bottom: 50px; *//*colapso de margenes*/

  border: 2px solid yellow;
}

.box2{
    box-sizing:border-box;
    background:salmon;
    /*border: 10px solid black;
    border: 10px 10px 100px 10px;*/
    /* margin-top: 80px; *//*colapso de margenes*/

    margin-top: 30px;
    
    /* padding-top:20px;
    padding-bottom: 30px;
    padding-right: 50px;
    padding-left: 40px; */
    padding: 20px 30px 40px 10px;

    overflow: hidden;
}
/*
{}
[]
^
~
*/