/*
selector{
    propiedad:valor
    propiedad:valor2
} */

/*selector universal*/
/* *{
    text-decoration: underline;
} */

/*selector de etiqueta*/ /*jerarquia*/
nav{
    background:steelblue;    
    border: 10px dotted orange;
}

h2{
    color:red
}

/*selector de clase*/ /*jerarquia*/
.titulo{
    text-align: center;
    color:purple
}

.clasex{
    border: 10px solid orange;
}

.😒{
    color: darkblue;
    font-size: 30px;
}
/*selector de id*/ /*jerarquia*/
#idsec
{
    color:blue;
}

/*
{}
[]
^
*/

/*selector de atributos*/
h1[class]
{
    font-size: 6px;
}

*[href]{
    color: blueviolet;
    text-decoration: none;
}


[href="index.html"]{/*valor especifico*/
    color:green;
}

*[href^="htttps"]{/*valor relativo al inicio*/
    color: skyblue;
}

*[href$="..com"]/*valor relativo al final*/
{
    color: black;
}

*[href*="www"]{/*valor relativo al medio*/
    background-color: darksalmon;
}
/*
{}
[]
^
*/