*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f2f2f2;
    font-family: 'Arial';
}

.card{
    width: 300px;
    padding: 0 0 30px;
    margin: 30px auto;
    border-radius: 5px;
    box-shadow: 5px 6px 11px 0px rgba(0,0,0,0.75);
}

.imagen{
    width: 100%;
    /* border-radius: inherit; */
    border-radius: 5px 5px 0 0;
    object-fit: cover;    
}

.contenedor
{
    width: 90%;
    margin:0px auto;
    overflow: hidden;
}

.title{
    color:red;
    text-align: center;
    margin 20px 0;
}

.texto{
    text-align: center;
}