<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/combinado.css">
    <title>Combinados</title>
</head>
<body>
    <article class="card">
        <img src="../img/spiderman.jpg" alt="espiderman" class="imagen">
        <div class="contenedor">
            <h2 class="title">SPIDERMAN</h2>
            <P class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, expedita.</P>
            <a href="#" class="cta">Leer más</a>
        </div>
    </article>
</body>
</html>